################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SL/FileContentIndex/75de59db-0fb9-4cad-8e5f-99e9e16cf436.vsidx
/.vs/SL/FileContentIndex
